mkdocs
mkdocs-git-committers-plugin
mkdocs-material
mike
mkdocs-git-revision-date-localized-plugin
mkdocs-multirepo-plugin
mkdocs-macros-plugin
# mkdocs-macros-adr-summary
mkdocs-awesome-nav
mkdocs-simple-hooks
